<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Production -->
    <!--<add key="SqlScriptPath" value="C:\Users\interapp\Google Drive\AzureBackup\DbScripts\BackupAllDatabases.sql" />
    <add key="SqlBackupPath" value="C:\Users\interapp\Google Drive\AzureBackup\SqlServer\" />
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Timer;Integrated Security=True" />
    <add key="MaxAgeOfBackupsInDays" value="5" />
    <add key="NotificationRecipient" value="mjoseph@iadev.net"/>
    <add key="NotificationFromAddress" value="noreply@iadev.net"/>
    <add key="NotificationSubject" value="System Maintenance Performed on Azure Server" />-->
    
    <!-- Development -->
    <add key="SqlScriptPath" value="D:\git\stopwatchez\WebApi\Timer.ServerMaintenance\SqlScripts\BackupAllDatabases.sql" />
    <add key="SqlBackupPath" value="C:\Temp\SqlServerBackup\" />
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Timer;Integrated Security=True" />
    <add key="MaxAgeOfBackupsInDays" value="5" />
    <add key="NotificationRecipient" value="mjoseph@iadev.net"/>
    <add key="NotificationFromAddress" value="noreply@iadev.net"/>
    <add key="NotificationSubject" value="System Maintenance Performed on Azure Server" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\SmtpPickup\" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <!--<system.net>
    <mailSettings>
        <smtp deliveryMethod="Network" from="admin@stopwatchez.com">
            <network host="smtp.office365.com" port="587" enableSsl="true"
                     userName="admin@stopwatchez.com" password="44Pentium!!" />
        </smtp>
    </mailSettings>
  </system.net>-->
</configuration>